#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gameScreen {
  position: relative;
  width: 100%;
  height: 100%;
  /*margin: 0;*/
  background-image: linear-gradient(to right top, #051937, #003e65, #006883, #009188, #00b975);
  font-family: 'Dosis';
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.game-area {
  position: relative;
  /*transform: translate(-50%, -50%);*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*margin: 0 auto;*/
  width: 800px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
}

.player-info {
  grid-area: player-info;
}

.player-stats {
  grid-area: player-stats;
}

.corner-bttm-right {
  grid-area: corner-bttm-right;
}

.corner-bttm-left {
  grid-area: corner-bttm-left;
}

.img-container-box {
  position: relative;
  width: 500px;
  height: 400px;
  max-width: 500px;
  max-height: 400px;
  min-width: 50px;
  min-height: 40px;
  /*margin: 0 auto;*/
  left: 50%;
  bottom: 15%;
  transform: rotate(5deg) translateX(-50%);
}

.question-img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  margin: auto;
  border: 6px solid white;
  box-shadow: 2px 2px 5px 0px #3b3b3b;
}

.question-text {
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  position: absolute;
  top: 270px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
}

.answers-container {
  /*background-color: red;*/
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 160px;
}

.option {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  line-height: 60px;
  flex-basis: auto;
  width: 300px;
  height: 60px;
  /*transition: all 100ms ease-in-out;*/
  text-align: center;
  color: white;
  border-radius: 25px;
  /*background-color: #c1c1c1;*/
  box-shadow: 6px 6px 14px 1px rgba(00, 00, 00, 0.2);
  /*border: 0px solid rgba(0, 0, 0, 0);*/
  margin-top: 35px;
}

.option:hover {
  cursor: pointer;
  /*background-color: #5EFF9B;*/
  /*color: #5f5f5f;*/
  /*transform: scale(1.05, 1.05);*/
  /*box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);*/
  /*border-color: #5FFF9B;*/
}


.main-menu-l1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 96px;
  color: #ffffff;
}

.main-menu-l1 {
  cursor: default;
  user-select: none;
}